<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" style="background-color:light-grey">
      TinyURL App
          <a href="/urls">Home</a>
          <a href="/urls/new">Add New</a>
    </div>
</nav>
