<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" style="background-color:light-grey">
      TinyURL App
          <a href="/urls">Home</a>
          <a href="/urls/new">Add New</a>
          <form action="/urls/login" method="POST">
            <input id="login" type="text" name="username" placeholder="please signin" style="width: 100px">
            <input type="submit" value="Sign In Motherfucker!!!">
          </form>
    </div>
</nav>
