<header>
  <h1>TinyApp</h1>
  <% if (user !== undefined) { %>
    <p>Signed in as <%= user.email %></p>
    <form action="/logout" method="post">
      <button>Sign Out</button>
    </form>
  <% } else { %>
    <p>
      <a href="/register">Register</a>
    </p>
    <p>
      <a href="/login">Sign In</a>
    </p>
  <% } %>
</header>
