<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <% include partials/_header %>
    <h1>ShortURL: <%= shortURL %></h1>
    <form action="/urls/<%= shortURL %>" method="post">
      <input name="longURL" value="<%= longURL %>">
      <button>Update</button>
    </form>
  </body>

</html>
