<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">
    <header >
      <% include ../views/partials/_header %>
    </header>

   <ul>
      <% for(var i in urls) { %>
        <li><%= i %> - <%= urls[i] %>
            <button>
              <a href="/urls/<%= i %>">Edit</a>
            </button>
          <form method="POST" action="/urls/<%= i %>/delete">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% } %>
      
   </ul>

  </body>
</html>
