<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <body>
    <% include partials/_header %>
  <p>
    <a href="/urls/new">Shorten a URL</a>
  </p>
    <ul>
      <% for (let shortURL in urls) { %>
        <li>
          <%= shortURL %> ---> <%= urls[shortURL].longURL %>
          <form method="POST" action="/urls/<%= shortURL %>/delete">
            <a href="/urls/<%= shortURL %>">Edit</a>
            <input type="submit" value="Delete">
          </form>
        </li>
      <% } %>
    </ul>
  </body>
</html>
